# JWT
JWT_SECRET=String
JWT_EXPIRES_IN=24h

# Other
# development | production
AMBIENT=development

# AWS
AWS_S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Postgres Production
PRODUCTION_POSTGRES_HOST=
PRODUCTION_POSTGRES_USER_NAME=
PRODUCTION_POSTGRES_PASSWORD=
PRODUCTION_POSTGRES_DATABASE=

# Postgres Dev
DEVELOPMENT_POSTGRES_HOST=localhost
DEVELOPMENT_POSTGRES_USER_NAME=admin
DEVELOPMENT_POSTGRES_PASSWORD=admin
DEVELOPMENT_POSTGRES_DATABASE=postgres